<footer class=" text-lg-start text-black" style="margin-top: 100px;">
    <!-- Grid container -->
    <hr class="" >
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
           
            <div class="inf" style="margin-top: 20px;"> 
              <p class="lh-1"><small class="text-muted">Công ty Cổ phần Dự Kim với số đăng ký kinh doanh: 0105777650</small></p>
              <p class="lh-1"><small class="text-muted"><b>Địa chỉ đăng ký: </b>Tổ dân phố Tháp, P.Đại Mỗ, Q.Nam Từ Liêm, TP.Hà Nội, Việt Nam</small></p>
              <p class="lh-1"><small class="text-muted"><b>Số điện thoại: 0243 205 2222/ 090 589 8683</b></small></p>
              <p class="lh-1"><small class="text-muted"><b>Email:</b> cskh@ivy.com.vn</small></p>
            </div>
            
            <div class="contact" style="margin-top: 30px;">
              <button type="button" class="btn btn-dark">
                Hotline: 0123456789
              </button>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-white">Giới thiệu</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-muted">Về ABC</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Tuyển dụng</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hệ thống cửa hàng</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-white">Dịch vụ khách hàng</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-muted">Chính sách điều khoản</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hướng dẫn mua hàng</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Chính sách thanh toán</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Chính sách đổi trả</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Chính sách bảo hành</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Chính sách giao nhận vận chuyển</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Chính sách thẻ thành viên</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Hệ thống cửa hàng</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Q&A</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-white">Liên hệ</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-muted">Hotline</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Email</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Live chat</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Messenger</a>
              </li>
              <li>
                <a href="#!" class="text-muted">Liên hệ</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-white">Dowload App</h5>
           
            
          </div>
        </div>
      </section>
    </div>
    <hr class="">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-muted" href="https://ABC.com/">
        ABC.com
        </a>
    </div>
    <!-- Copyright -->
    
</footer>
</body>
</html>

<script src="jquery-3.3.1.min.js"></script>
<script src="<?php echo web_root ?>/public/user/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>